.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-footer {
  width: 100%;
}

.mt-footer {
  margin-top: auto;
}

.text-footer {
  color: #757474;
  background-color: #7BE0AD;
}

.container {
  width: 92%;
}

.text-center-footer {
  text-align: center;
}

.mb-footer {
  margin-bottom: 1.625rem;
}