body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  height: 150px;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

#navbar {
  background-color: #E7E5E5;
  margin-top: 40px;
  font-size: 20px;
}

li {
  list-style: none;
  text-decoration: none;
  color: #7BE0AD;
}

#pageRendered {
  margin-top: 20px;
}

.myCustomHeight {
  height: 800px;
}

.card-body {
  background-color: #E7E5E5;
  justify-content: center;
}